div {
    color: brown;
}

div[title="text"] {
    color: rgb(255, 136, 0);
    background-color: transparent;  
}
p {
    color: #ff0000;
    border: 4px green groove;
    border-radius: 10px 20px 30px 40px;
    border-top-color: violet;

}
.logo {
    background-image: url(../img/1.png);
    background-repeat: no-repeat;
}
.logo2 {
    background-image: url(../img/2.png);
    background-repeat: no-repeat;
}
.logo3 {
    background-image: url(../img/3.png);
    background-repeat: no-repeat;
}
.logo4 {
    background-image: url(../img/4.png);
    background-repeat: no-repeat;
}