
* {
    box-sizing: border-box;
}
.container {

    width: 1170px;
    margin: 0 auto;
}

.box {

    background: teal;
}
.box__inner {
    margin-top: 200px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item {
    text-align: left;
}
.number {
    padding-top: 11px;
    color: #ffffff;
    font-size: 20px;
}
.text {
    color: #ffffff;
    font-size: 10px;
    font-family: sans-serif;
    margin-bottom: 18px;
    text-transform: uppercase;
    padding-top: 5px;
}
.line {
    width: 60px;
    height: 4px;
    background-color: white;
    margin: 0 auto;
}
i.fa {
    font-size: 30px;
    color: #ffffff;
    margin-left: 100px;
}

