
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container {

    width: 1170px;
    margin: 0 auto;
}
.box__inner {
    text-align: center;
    display: flex;
}
div .image {
    background-image: url(../img/png.png);
    border-image: fill;

}
.content {
}
.icon {
}
.fa {
}
.fa-users {
}
